@font-face{
    src: url('../fonts/Montserrat-Regular.ttf');
    font-family: "montserrat-r";
}
*{
    font-family: "montserrat-r";
}

body{
    background-color: #f8f8f8!important;
}

nav{
    background-image: linear-gradient(to right, #00c0da, #00cfd6, #00dcc5, #00e7a6, #38ef7d);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #F8FFF8;
    text-shadow: 2px 3px 3px #9FAFA1;
}

.navbar-default .navbar-brand:hover
.navbar-default .navbar-nav>li>a:hover{
    color: #9FAFA1;
    text-shadow: none;
}

.whiteCover{
    background: #fff;
}

.itemRole{
    background: #fff;
    padding: 12px;
    box-shadow: 2px 3px 3px #ccc;
    border-radius: 5px;
}

.itemRole h4 {
    margin: 0;
    margin-bottom: 10px;
}

.itemRole #btnDltItem {
    position: absolute;
    right: 12px;
    margin-right: 12px;
    background-color: rgb(243, 83, 83);
    color: #fff;
    padding: 5px;
    font-size: 12px;
}

.itemRole #btnAddPermission,
.itemRole #btnEditItem {
    position: absolute;
    right: 36px;
    margin-right: 12px;
    background-color: royalblue;
    color: #fff;
    padding: 5px;
    font-size: 12px;

}

.newPermission{
    padding: 25px;
    box-shadow: 2px 3px 3px #ccc;
    border-radius: 5px;
}

.newPermission h2{
    margin-bottom: 25px;
}